<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="ColoredConsole" name="console">
            <layout>${longdate} [${level:uppercase=true}] ${message}${onexception:${newline}${exception:format=tostring}}</layout>

            <rowHighlightingRules>
                <highlight condition="level == LogLevel.Trace" foregroundColor="Gray" />
                <highlight condition="level == LogLevel.Debug" foregroundColor="Cyan" />
                <highlight condition="level == LogLevel.Info" foregroundColor="Green" />
                <highlight condition="level == LogLevel.Warn" foregroundColor="Yellow" />
                <highlight condition="level == LogLevel.Error" foregroundColor="Red" />
                <highlight condition="level == LogLevel.Fatal" foregroundColor="White" backgroundColor="Red" />
            </rowHighlightingRules>
        </target>

        <target name="file"
                xsi:type="File"
                fileName="logs/app.log"
                layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}"
                archiveEvery="Day"
                maxArchiveFiles="7" />
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="console,file" />
    </rules>
</nlog>